doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        
        title #{title}

        meta(name='description', content='The home of Jordan Kasper.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        link(rel='stylesheet', href='css/style.css')
    
    body
        header Jordan Kasper

        section.content
            != renderContent()

        section.console

        script(src='js/vendor/jQuery/jquery.min.js')
        script(src='js/brsh.js')
        script(src='js/jk.js')