
aside.title-text {
    position: relative;
    top: -9.5em;
    left: 0;
    text-align: left;
    font-size: 0.8em;
}
aside.title-text h2, aside.title-text h3, aside.title-text h4 {
    color: #111;
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.01em;
}
aside.title-text h2, aside.title-text h3 {
    background-color: #fff;
}
aside.title-text h3 {
    position: relative;
    top: -0.5em;
    font-size: 1.2em;
}

.reveal .slides .top-left {
    text-align: left;
}
.reveal .slides section.top-left > * {
    margin-left: 0;
    margin-right: 0;
}

.slides cite {
    display: block;
    clear: both;
    font-size: 0.5em;
    color: #999;
    position: absolute;
    bottom: -4em;
}
.slides cite:before {
    content: "Image credit: ";
}

.outline, .outline h3 {
    color: #fff;
    -webkit-text-stroke: 1px #000;
    text-shadow:
        3px 3px 4px #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.slides p {
    color: #446;
}

.slides p code {
    background-color: #ddeff0;
    color: #2f85aa;
    font-size: 0.8em;
    padding: 0.05em 0.2em;
    
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}

.slides .fine {
    color: #999;
    font-size: 0.9em;
}

.slides .illuminate {
    color: #2f85aa;
    font-style: italic;
}

.reveal pre code {
    max-height: 600px;
}

.reveal .xml .javascript {
    opacity: 1;
}

ul.file-structure ul { margin-left: 0.7em; }
ul.file-structure li { list-style: none; margin: 0.25em 0; }
ul.file-structure .folder {
    list-style-image: url('/images/folder.png');
}
ul.file-structure .folder-open {
    list-style-image: url('/images/folder-open.png');
}
ul.file-structure .file {
    list-style-image: url('/images/file.png');
}
.reveal pre .xml .javascript { opacity: 1; }
.reveal blockquote {
    border: none;
    color: #555;
    box-shadow: none;
}
