
/* ---------------- Modules -------------- */

/* Header and Nav */
body > header {
    background-color: #444;
    min-height: 3.5em;
    color: #eee;
}
header h1 {
    font-size: 1.25em;
    padding: 0.25em 0 0 1em;
}
nav ul {
    margin: 0;
}
nav li {
    display: inline-block;
    background-color: #444;
    padding: 1.25em 0;
    transition: background 0.3s linear;
}
nav li:hover {
    background-color: #99a;
}
nav a {
    color: #ddd;
    font-size: 1.1em;
    text-decoration: none;
    padding: 1em 3em;
}

.off-canvas-right {
    background-color: #222;
}
.off-canvas-right ul {
    padding: 0;
}
.off-canvas-right li {
    display: block;
    background-color: #222;
    border-bottom: 1px solid #eee;
}
.off-canvas-trigger-right {
    height: 2em;
    position: absolute;
    right: 1em;
    top: 0.5em;
    width: 1.875em;
}


/* Main Content */
.main-body {
    padding-top: 4em;
    background-color: #eee;
}

.main-content {
    background-color: #fff;
    padding: 1em;
}
.main-content img {
    padding: 1em;
}

.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4 {
    clear: both;
}


/* Sidebar */
.sidebar {
    font-size: 0.8em;
    padding-left: 1em;
}
.sidebar.speaking h2:after {
    content: " Talks";
}
.sidebar h2 {
    font-size: 1.1em;
}
.sidebar h1, #past, #past + ul {
    display: none;
}


/* ---------------- Utility -------------- */

.top-sticky {
    position: fixed;
    top: 0;
}

.hamburger-icon:before {
    top: -0.5em;
}
.hamburger-icon:before, .hamburger-icon:after {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 0.0625em;
    left: 0;
    position: absolute;
    width: 1.875em;
}
.hamburger-icon:after {
    bottom: -0.5em;
}
.hamburger-icon:before, .hamburger-icon:after {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 0.0625em;
    left: 0;
    position: absolute;
    width: 1.875em;
}
.hamburger-icon {
    background: none repeat scroll 0 0 #fff;
    display: block;
    height: 0.0625em;
    position: relative;
    top: 1em;
    width: 100%;
}

.data-pad td {
    padding: 0.1em 0.4em;
}


/* ------------- Page-specific ----------- */

[data-slug=profile] li img {
    width: 1em;
    padding: 0;
}
