doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        
        title #{title}

        meta(name='description', content='My home.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        link(rel='stylesheet', href='css/style.css')
    
    body
        header My Site

        section.content
            != renderContent()

        section.console

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='js/app.js')