
header {
    position: absolute;
    left: -9999px;
}

.brsh-console {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: #eee;
    font-family: monospace;
    line-height: 1.2em;
}

.brsh-console input {
    background-color: #eee;
    border: none;
    width: 95%;
    font-size: 1.05em;
    font-family: monospace;
}

.brsh-output {
    margin: 0;
    letter-spacing: 1px;
}

.brsh-output p {
    margin: 0.1em 0;
}

.brsh-prompt {
    color: purple;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.3em;
    font-size: 0.8em;
    color: #444;
}
