doctype html
html
    head
        include head.jade
    
    body
        include header.jade

        section.content
            h2.
                Oops! Looks like that page doesn't exist

        include footer.jade