doctype html
html
    head
        include head.jade
    
    body.off-canvas-contain
        include header.jade

        section.content
            h2.
                Uh oh, looks like there was a nasty error. Please try again later!

        include footer.jade