doctype html
html
    head
        include head.jade
    
    body.off-canvas-contain(data-slug=slug)
        include header.jade

        section.main-body.row
            != renderContent()

        section.recent-posts
            h2 Recent Posts

        include footer.jade

        include scripts.jade