extends ../examples.jade

block title
    h1 jQuery simpleFAQ Examples

block content
    ul
        li: a(href='html-example') Example using HTML data source
        li: a(href='json-example.php') Example using JSON data source
        li: a(href='search-example.php') Example with searching
        li: a(href='jump-to-example.php#moreHelp') Example with direct URL jumping
