
@font-face {
  font-family: 'Fire Sans';
  src: url('../font/FireSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fire Sans';
  src: url('../font/FireSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fire Sans';
  src: url('../font/FireSans-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Fire Sans';
  src: url('../font/FireSans-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}


/* -------------- BEGIN FONTELLO CODE --------------- */
@font-face {
  font-family: 'jk';
  src: url('../font/jk.eot?99157140');
  src: url('../font/jk.eot?99157140#iefix') format('embedded-opentype'),
       url('../font/jk.woff?99157140') format('woff'),
       url('../font/jk.ttf?99157140') format('truetype'),
       url('../font/jk.svg?99157140#jk') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'jk';
    src: url('../font/jk.svg?99157140#jk') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "jk";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu:before { content: '\e800'; } /* '' */
.icon-angle-double-left:before { content: '\e801'; } /* '' */
.icon-angle-double-right:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-vimeo:before { content: '\e806'; } /* '' */
.icon-megaphone:before { content: '\e807'; } /* '' */
.icon-book-open:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-chat-empty:before { content: '\e80b'; } /* '' */
.icon-stackoverflow:before { content: '\e80c'; } /* '' */
.icon-lanyrd:before { content: '\e80d'; } /* '' */
.icon-gplus:before { content: '\e80e'; } /* '' */
.icon-meetup:before { content: '\e80f'; } /* '' */

/* -------------- END FONTELLO CODE --------------- */

.hobbes {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent url('../images/hobbes_icon_light.png') center bottom no-repeat;
    background-size: 1em;
}

.joindin {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent url('../images/joindin.png') center bottom no-repeat;
    background-size: 1em;
}
