
body > footer {
    padding: 1em 0 0.5em 0;
    font-size: 0.8em;
    background-color: $footerBackground;
    color: $footerTextColor;

    .rss {
        font-size: 2em;
        display: block;
        float: right;
        padding-right: 1em;

        &:link, &:visited {
            color: #333;
        }
        &:hover, &:active {
            color: #33f;
            border: none;
        }
    }
}
