
/* Header and Nav */
body > header {
    background-color: $headerBackground;
    min-height: 3.5em;
    color: #eee;
    width: 100%;
    z-index: $headerZIndex;
}
header h1 {
    font-size: 3.8vw;
    @media (min-width: $largeBreakpoint) {
        font-size: 1.3em;
    }
    padding: 0.25em 3em 0 1em;
}

