
/* Header and Nav */
body > header {
    background-color: #444;
    min-height: 3.5em;
    color: #eee;
    width: 100%;
}
header h1 {
    font-size: 3.8vw;
    @media (min-width: 50em) {
        font-size: 1.3em;
    }
    padding: 0.25em 3em 0 1em;
}

