nav ul {
    margin: 0;
    font-size: 0.8em;

    li {
        display: inline-block;
        background-color: #444;
        padding: 1.55em 0;
        transition: background 0.3s linear;

        &:hover {
            background-color: #99a;
        }
    }

    a {
        color: #ddd;
        font-size: 1.1em;
        text-decoration: none;
        padding: 1em 2em;

        &:hover {
            border-bottom: none;
        }

        i {
            margin-right: 0.3em;
        }
    }
}

.off-canvas-right {
    background-color: #222;
    z-index: $offcanvasNavZIndex;
}
.off-canvas-right ul {
    padding: 0;
}
.off-canvas-right li {
    display: block;
    background-color: #222;
    border-bottom: 1px solid #eee;
}
.off-canvas-trigger-right {
    color: #ddd;
    font-size: 7vw;
    position: absolute;
    right: 0;
    top: 1vw;

    &:hover {
        border: none;
    }
}
