nav ul {
    margin: 0;
    font-size: 0.8em;

    li {
        display: inline-block;
        background-color: #444;
        padding: 1.55em 0;
        transition: background 0.3s linear;

        &:hover {
            background-color: #99a;
        }
    }

    a {
        color: #ddd;
        font-size: 1.1em;
        text-decoration: none;
        padding: 1em 2em;

        &:hover {
            border-bottom: none;
        }
    }
}

.off-canvas-right {
    background-color: #222;
}
.off-canvas-right ul {
    padding: 0;
}
.off-canvas-right li {
    display: block;
    background-color: #222;
    border-bottom: 1px solid #eee;
}
.off-canvas-trigger-right {
    color: #ddd;
    font-size: 7vw;
    position: absolute;
    right: 0;
    top: 1vw;

    &:hover {
        border: none;
    }
}

.hamburger-icon:before {
    top: -0.5em;
}
.hamburger-icon:before, .hamburger-icon:after {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 0.0625em;
    left: 0;
    position: absolute;
    width: 1.875em;
}
.hamburger-icon:after {
    bottom: -0.5em;
}
.hamburger-icon:before, .hamburger-icon:after {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 0.0625em;
    left: 0;
    position: absolute;
    width: 1.875em;
}
.hamburger-icon {
    background: none repeat scroll 0 0 #fff;
    display: block;
    height: 0.0625em;
    position: relative;
    top: 1em;
    width: 100%;
}