
.blog-post {
    p {
        line-height: 1.4em;
    }

    h2, h3, h4 {
        color: #333;
        clear: both;
    }

    h2 {
        color: #446;
    }

    pre {
        margin: 0.5em;
        padding: 0.5em;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-right-color: #bbb;
        border-bottom-color: #bbb;
    }

    .publish-time {
        font-size: 0.9em;
        color: #333;
        float: left;
    }

    .post-tags {
        font-size: 0.85em;
        color: #333;
        text-align: right;
        margin-top: 2em;
    }

    .tag-list {
        font-weight: bold;
    }

    .sharing {
        color: #333;
        clear: left;
        text-align: center;

        a, a:visited {
            font-size: 2em;
            color: #333;

            @media (min-width: $largeBreakpoint) {
                font-size: 1.3em;
            }
        }
        a:hover {
            border: none;
            color: #557
        }
    }
}

