.search {
  display: block;
  float: left;
  margin: 1em 0 0 0;
  text-align: right;
  width: 33%;

  @media (max-width: $largeBreakpoint) {
    display: none;
    float: none;
    width: auto;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
  }

  [type='query'] {
    border-radius: 10px;
    background-color: #eee;
    color: #000;
    width: 80%;
  }

  [type='submit'] {
    border: 0;
    width: 20px;
    height: 20px;
    margin: 3px 10px;
    vertical-align: middle;
    background: transparent url('/images/search.png') center center;
  }
}

#off-canvas-nav .search {
  @media (max-width: $largeBreakpoint) {
    display: block;
  }
}
