

.sidebar {
    font-size: 0.9em;
    padding-left: 1em;

    @media (min-width: $largeBreakpoint) {
        float: right;
    }
}
.sidebar h2 {
    color: #333;
    font-size: 1.1em;
}

.sidebar .recent-posts {
    .published-on {
        font-size: 0.9em;
        color: #333;
        margin: 0
    }
    h3 {
        margin: 0 0 1em 0;
    }
}
