.tag-cloud {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        padding: 0 0.4em;
        border-radius: 0.5em;
        border: 1px solid transparent;

        &.tag-size-tiny {
            font-size: 0.9em;
        }
        &.tag-size-medium {
            font-size: 1.2em;
        }
        &.tag-size-large {
            font-size: 1.3em;
        }
        &.tag-size-massive {
            font-size: 1.4em;
        }
        &.tag-size-enormous {
            font-size: 1.5em;
        }
        &:hover {
            background-color: #ddd;
        }
    }

    a {
        &:link, &:visited {
            color: #029;
        }
        &:hover, &:active {
            color: #03f;
            border: none;
        }
    }
}

.posts-by-tag {
    h2 {
        color: #333;
    }
    .tag-name {
        color: #669;
    }

    ol {
        list-style: none;
    }

    .post {
        clear: both;
    }

    time {
        color: #333;
        font-weight: bold;
        font-size: 0.9em;
        float: left;
        margin: 0.3em 1em 0 0;
    }

    h3 {
        margin-bottom: 0;
    }

    .tags {
        margin-left: 2em;
        font-size: 0.8em;

        p {
            float: left;
            margin: 0;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            display: inline;
            padding: 0 0 0 0.2em;

            &::after {
                content: ",";
            }
            &:last-child::after {
                content: "";
            }
        }
    }
}
