meta(charset='UTF-8')
meta(http-equiv='content-type', content='text/html; charset=utf-8')

title jQuery Plugin Examples

meta(name='description', content='jQuery Plugins by Jordan Kasper.')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='stylesheet', href='/jquery/reset.css')

style.
    #wrapper {
        padding: 1em;
    }
    h1 {
        font-size: 1.3em;
        margin-bottom: 2em;
    }
    #donateform {
        position: fixed;
        top: 2em;
        right: 2em;
    }

    pre {
        display: inline-block;
        background-color: #eef;
        font-family: monospace;
        background-color: #eef;
        padding: 0.3em 0.4em;
        margin: 0;
    }
    pre.block-code {
        width: 98%;
        overflow-x: auto;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #333;
    }

    #footer {
        font-size: 0.8em;
        color: #666;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #e5e5e5;
    }

    #copyright { float: right; }

block styles

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18307662-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
