meta(charset='UTF-8')
meta(http-equiv='content-type', content='text/html; charset=utf-8')

title #{title}

meta(name='description', content='The home of Jordan Kasper.')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='stylesheet', href='//cdn.rawgit.com/trevanhetzel/barekit/master/css/barekit.css')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/tomorrow.min.css')
link(rel='stylesheet', href='/css/style.css')

script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18307662-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();