
header.row.sm-12.top-sticky
    h1.left So long, and thanks for all the fish

    a.off-canvas-trigger-right.hide-md.right(href='#')
        span.hamburger-icon(aria-controls='off-canvas-nav')

    nav#off-canvas-nav.off-canvas-right.no-bullets.text-center
        ul
            li
                a(href='/') Home
            li
                a(href='/speaking') Speaking
            li
                a(href='/profile') Profile

    nav.show-md.no-bullets.right
        ul
            li
                a(href='/') Home
            li
                a(href='/speaking') Speaking
            li
                a(href='/profile') Profile