doctype html
html
    head
        include head.jade
    
    body.off-canvas-contain(data-slug=slug)
        include header.jade

        section.main-body.row

            section.main-content.recent-posts.sm-12.md-9.left

            aside.sidebar.speaking.sm-12.md-3.right
                include:markdown ../content/speaking.md

            nav.paging
                a.next-page(href='?page=2', title='View next page')
                    i.icon-angle-double-left
                    ='Older'
                a.prev-page(href='?page=1', title='View previous page')
                    ='Newer'
                    i.icon-angle-double-right

        include footer.jade

        include scripts.jade

        script.
            jk.init();