ul
    li
        a(href='/')
            i.icon-book-open
            ='Blog'
    li
        a(href='/events')
            i.icon-megaphone
            ='Events'
    li
        a(href='/profile')
            i.hobbes
            ='--verbose'