ul
    li
        a(href='/')
            i.icon-book-open
            ='Blog'
    li
        a(href='/speaking')
            i.icon-megaphone
            ='Speaking'
    li
        a(href='/profile')
            i.hobbes
            //- img(src='images/hobbes_icon_light.png', alt='', width='20')
            ='Profile'