doctype html
html
    head
        include head.jade

    body.notes.off-canvas-contain(data-slug=slug)

        section.main-body.row

            article.main-content.sm-12.md-12
                h2.
                    Live Notes (#{bin})
                textarea.edit-notes

        include scripts.jade

        script.
            jk.init({
                notes: {
                    bin: '#{bin}'
                }
            });
