doctype html
html
    head
        include head.jade
    
    body.off-canvas-contain(data-slug=slug)
        include header.jade

        section.main-body.row

            article.main-content.sm-12.md-9.left
                != renderContent()

            aside.sidebar.recent-posts.sm-12.md-3.right
                h2 Recent Posts

        include footer.jade

        include scripts.jade

        script.
            jk.init({
                posts: {
                    template: '<article><h3><a href="/{{slug}}">{{title}}</a></h3><p class="published-on">{{published}}</p></article>'
                }
            });