doctype html
html
    head
        include head.jade
    
    body.off-canvas-contain(data-slug=slug)
        include header.jade

        section.main-body.row

            article.main-content.blog-post.sm-12.md-9
                != renderContent()

                div.sharing
                    ='Share the love:'
                    a(href='https://twitter.com/home?status=Check%20out%20this%20post%20by%20@jakerella:%20' + title + '%20http://jordankasper.com/' + slug, target='_blank')
                        i.icon-twitter
                    a(href='https://plus.google.com/share?url=http://jordankasper.com/' + slug, target='_blank')
                        i.icon-gplus
                    a(href='https://www.linkedin.com/shareArticle?mini=true&title=Blog%20post%20by%20Jordan%20Kasper:%20' + title + '&summary=&source=&url=http://jordankasper.com/' + slug, target='_blank')
                        i.icon-linkedin
                    a(href='https://www.facebook.com/sharer/sharer.php?u=http://jordankasper.com/' + slug, target='_blank')
                        i.icon-facebook-squared

                div#disqus_thread
                noscript.
                    Please enable JavaScript to view and post comments.

            aside.sidebar.speaking.sm-12.md-3
                h2 Upcoming Events
                ul.upcoming-events

        include footer.jade

        include scripts.jade

        script.
            jk.init();

            // Disqus config
            var disqus_shortname = 'jordankasper';
            // Start up Disqus
            (function() {
                if (!/localhost/.test(location.hostname)) {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                }
            })();