doctype html
html
    head
        include preso-head.jade

    body
        div.reveal

            footer.left
                p.copyright.
                    &copy; Jordan Kasper

            div.slides
                != renderSlideContent()

        script(src="/js/vendor/reveal.js/lib/js/head.min.js")
        script(src="/js/vendor/reveal.js/js/reveal.js")
        script(src='/js/vendor/highlightjs/highlight.pack.js')
        script(src="/js/preso.js")
