
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='//cdn.rawgit.com/trevanhetzel/barekit/master/js/barekit.min.js')
script(src='/js/jk.js')
script(src='/js/posts.js')
script(src='/js/events.js')
script(src='/js/notes.js')
script(src='/js/tags.js')
